@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li>
        @Html.ActionLink("Files (png)", "FilesPng")
    </li>
    <li>
        @Html.ActionLink("Files (jpg)", "FilesJpg")
    </li>
    <li>
        @Html.ActionLink("Byte Arrays", "ByteArrays")
    </li>
    <li>
        @Html.ActionLink("Files and Byte Arrays", "FilesAndByteArrays")
    </li>
    <li>
        @Html.ActionLink("Hover", "Hover")
    </li>
    <li>
        @Html.ActionLink("Azure storage", "AzureStorage")
    </li>
</ul>